#content {
  flex: 1;
}

.custom-toolbar {
  height: 64px;
  background-color: #ed1c24;
  padding: 0 16px;
  color: white;
}



.navbar-brand {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-right: 16px;
}

.spacer {
  flex: 1;
}

.button-navbar {
  color: rgba(255, 255, 255, 0.7) !important;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 8px;
  transition: background-color 0.3s ease;
}

.button-navbar:hover {
  background-color: rgba(255, 255, 255, 0.2);
}




.active-link {
  color: white !important;
  height: 100%;
  border-bottom: 4px solid white;
  border-radius: 0;
  font-weight: bold;
}

.button-navbar.mat-button {
  transition: background-color 0.3s;
}

.button-navbar.mat-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
////
//
//mat-toolbar {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}
//
//.nav-links {
//  display: flex;
//  gap: 20px;
//}
//
//@media (max-width: 768px) {
//  .nav-links {
//    display: none;
//  }
//  .button-navbar {
//    font-size: 10px;
//  }
//}
