.container{
  margin-top: 2%;
  height: 80vh;
}

mat-card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 500px) {
    max-width: 90%;
  }
}

mat-card-title {
  color: #10161c;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;

  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    color: var(--red-asset); // Ooredoo red color for outline
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; // Space between the buttons
  width: 100%;
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;

  img {
    max-width: 5rem;
  }
}

@media screen and (max-width: 500px) {
  mat-card-title {
    font-size: 20px;
  }

  mat-form-field {
    margin-bottom: 10px;
  }
}

.error-snackbar {
  background-color: var(--red-asset) !important;
}

.mat-raised-button {
  &.mat-primary {
    background-color: var(--red-asset); // Ooredoo red color
    color: var(--text-color);

    &:hover {
      background-color: color-mix(in srgb, var(--red-asset) 90%, black 10%);
    }
  }

  &.mat-accent {
    background-color: var(--red-asset); // Ooredoo red color
    color: var(--text-color);

    &:hover {
      background-color: color-mix(in srgb, var(--red-asset) 90%, black 10%);
    }
  }
}

.ooredoo-button, .ooredoo-button a {
  color: var(--background-th) !important;
  justify-content: space-around;
  background-color: var(--background-td);
  margin: 0;
  height: 2.5rem;
}

.button-container {
  text-align: center;
}





.forgot_button{
  color: var(--primary-color) !important;
}
