.profile-card {
  width: 100%;
  height: 50%;
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
  background-color: var(--text-color);
  color: var(--background-td) !important;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}

.profile-avatar img {
  width: 100%;
}

mat-card-content p {
  display: flex;
  align-items: center;
  gap: 8px;
}


.profile-card {
  position: relative;
  padding-top: 10px;

  mat-card-header {
    position: relative;
    display: flex;
    align-items: center;

    .edit-icon {
      position: absolute;
      top: 0;
      right: 0;
      margin: 8px;
      color: var(--background-td);
      background-color: rgba(0, 0, 0, 0.05);
      border-radius: 50%;
      transition: background-color 0.2s;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}


.container {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start !important;
  margin-top: 2%;
}

.ooredoo-button i {
  margin-right: 8px;
}


.btn i {
  margin-right: 5px;
}


@media (max-width: 768px) {
}


.table-bordered th, .table-bordered td {
  border: 1px solid #ddd;
  padding: 8px;
}


.table th {
  background-color: #f4f4f4;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}


.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}


.table tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s;
}


.table td {
  text-align: left;
  padding: 10px;
}


.table td span {
  display: block;
}


@media (max-width: 768px) {
  .table {
    font-size: 14px;
  }

  .table th, .table td {
    padding: 6px;
  }
}


.modal-body {
  padding: 20px;
}


.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
}


.modal-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.modal-header {
  background-color: var(--background-th);
  color: var(--background-color);
  border-bottom: none;
  padding-bottom: 0;
}

.modal-body {
  padding: 20px;
}

.modal-footer {
  justify-content: space-between;
}

.form-control {
  border-radius: 0.25rem;
  box-shadow: none;
}






