@import 'styles/colors';

body.light-theme {
  --background-color: #f4f4f4 !important;
  --text-color: #000000 !important;
  --primary-color: #ed1c24;
  --background-th: #343a40;
  --background-td: #f4f4f4;
  background-color: var(--background-color);
  color: var(--text-color);
}

