/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.css";
@import "font-awesome/css/font-awesome.css";
@import 'app/light-theme.scss';
@import 'app/dark-theme.scss';
root {
  --red-asset: #ed1c24;
}
body {
    background-color: #f4f4f4;
    color: var(--text-color);
  }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
